{% extends   'posts/create.html' %}
  {% block content %}
<main>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Kazakstan</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Ақпараттар</h2>
          <p>Қазақстан Республикасы (Дыбысы Қазақстан Республикасы) — Шығыс Еуропа мен Орталық Азияда орналасқан мемлекет. Батысында Еділдің төменгі ағысынан, шығысында Алтай тауларына дейін 3 000 км-ге, солтүстіктегі Батыс Сібір жазығынан, оңтүстіктегі Қызылқұм шөлі мен Тянь-Шань тау жүйесіне 1 600 км-ге созылып жатыр. Қазақстан Каспий теңізі арқылы Әзірбайжан, Иран елдеріне, Еділ өзені және Еділ-Дон каналы арқылы Азов және Қара теңіздерге шыға алады.</p>
          <a href="#" class="btn btn-primary">
Әрі қарай
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h2>Географиясы</h2>
          <p>  Қазақстан Республикасының жер көлемі 2,7 млн шаршы шақырым. Жерінің ауданы жағынан дүние жүзіндегі ең ірі мемлекеттердің қатарына жатады. Бұл көрсеткіш бойынша Ресей, Канада, Қытай, АҚШ, Бразилия, Австралия, Үндістан және Аргентинадан кейін 9-шы орында тұр.

</p>
          <a href="#" class="btn btn-primary">
Әрі қарай
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h2>Қызылқұм шөлі</h2>
          <p> Қызылқұм шөлі  — Әмудария мен Сырдария аралығындағы құмды алқап. Ауданы 300 мың км² (оның 1/3 -інен астамы Қазақстан аумағында (Қызылорда, Оңтүстік Қазақстан облыстарында).</p>
          <a href="#" class="btn btn-primary">
        Әрі қарай
          </a>
        </div>
      </div>
    </div>
  </div>
    </main>
{% endblock %}

